body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  font-size: 16px;
  background-color: #ffffff;
}

a:active,
a:focus {
  outline: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  padding-left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
}

li {
  margin-right: 30px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.address__list {
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.address__link {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-block;
  margin-bottom: 9px;
  white-space: nowrap;
}
.address__link--phone {
  margin-bottom: 0px;
}
.address__link--phone:hover, .address__link--phone:focus {
  color: #2196f3;
}
.address__link--white {
  color: #ffffff;
}
.address__link--mail:hover, .address__link--mail:focus {
  color: #2196f3;
}
.address__item {
  margin-right: 0;
}

.agreement-button {
  font-weight: 700;
  line-height: 1.88;
  font-size: 16px;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  padding: 10px 0;
  margin: 0 auto;
  border-color: transparent;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.agreement-button:hover, .agreement-button:focus {
  background-color: #188ce8;
}

.agreement {
  width: 423px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
.agreement__label {
  color: #757575;
  text-align: center;
  position: relative;
  padding-left: 23px;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.agreement__label::before {
  content: "";
  position: absolute;
  top: 3.5px;
  left: 0;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
}
.agreement__label::after {
  content: "";
  position: absolute;
  top: 3px;
  left: 0;
  width: 16px;
  height: 16px;
  background-image: url(../images/icon-check.svg);
  opacity: 0;
  background-size: contain;
  background-color: #2196f3;
  border-radius: 3px;
}
.agreement__input:checked + .agreement__label::after {
  opacity: 1;
}
.agreement__link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: #2196f3;
  overflow: visible;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.agreement__input {
  display: inline-block;
  margin: 0;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  color: #212121;
}
.agreement__input--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.benefits__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.benefits__description {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
  width: 270px;
  letter-spacing: 0.03em;
}
.benefits__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.benefits__title--visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}
.benefits__logo {
  width: 270px;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
}

.card {
  width: 370px;
}
.cards__list > .card {
  -ms-flex-preferred-size: calc(33.3333333333% - 30px);
      flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
  margin-right: 0;
}
.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: #212121;
}
.card__description {
  line-height: 1.88;
  color: #757575;
  letter-spacing: 0.03em;
}
.card__container {
  position: relative;
  overflow: hidden;
}
.card__container::before {
  display: inline-block;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__wrapper:hover .card__container::before {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card__link {
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__link:hover, .card__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card__text {
  position: absolute;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.card__wrapper:hover .card__text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.card__wrapper {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.card__thumb {
  border: 1px solid #eeeeee;
  border-top-color: transparent;
  padding: 20px 24px;
}

.cards__list {
  padding: 0;
  margin: 0;
  margin-left: -30px;
  margin-top: -30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;
  border: 1px solid #afb1b8;
  fill: #afb1b8;
  -webkit-transition-property: fill, border-color;
  transition-property: fill, border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover, .clients__logo:focus {
  border-color: #2196f3;
  fill: #2196f3;
}
.clients__item {
  margin-right: 30px;
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__icon {
  width: 106px;
  height: 60px;
}
.clients__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.contact-form {
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-form__textarea {
  height: 120px;
  resize: none;
  display: block;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  margin: 0 auto;
  margin-bottom: 20px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__textarea[placeholder] {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.contact-form__textarea:hover {
  border-color: #2196f3;
}
.contact-form__textarea:focus {
  outline-color: #2196f3;
}
.contact-form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 12px;
}
.contact-form__label {
  display: block;
  padding-left: 40px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}
.contact-form__container {
  position: relative;
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__container:hover {
  fill: #2196f3;
}
.contact-form__icon {
  position: absolute;
  top: 50%;
  left: 53px;
  -webkit-transform: translatey(-50%);
          transform: translatey(-50%);
  -webkit-transition-property: border, fill;
  transition-property: border, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-form__container:focus-within .contact-form__icon {
  fill: #2196f3;
}
.contact-form__input {
  display: block;
  padding: 11px 0;
  text-indent: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  margin: 0 auto;
  margin-bottom: 10px;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 1.15;
}

.contacts {
  margin-left: auto;
}
.contacts__link {
  color: #757575;
  fill: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 161px;
  white-space: nowrap;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0px;
}
.contacts__link:hover, .contacts__link:focus, .contacts__link:active {
  color: #2196f3;
  fill: #2196f3;
}
.contacts__link:last-child {
  margin-right: 0px;
  width: 122px;
  margin-left: auto;
}
.contacts__link:first-child {
  width: 161px;
  white-space: nowrap;
}
.contacts__item {
  padding: 0;
  font-size: 14px;
  margin-right: 50px;
}
.contacts__item:last-child {
  margin-right: 0;
}
.contacts__item--mail {
  margin-right: 30px;
}
.contacts__container {
  margin-left: auto;
}
.contacts__icon {
  margin-right: 10px;
}
.contacts__icon--envelope {
  width: 16px;
  height: 12px;
  display: inline-block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.contacts__icon--phone {
  width: 10px;
  height: 16px;
}
.contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.examples-work {
  padding-top: 0;
}
.examples-work__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.examples-work__item {
  position: relative;
}
.examples-work__thumb {
  position: absolute;
  height: 70px;
  width: 370px;
  background-color: rgba(47, 48, 58, 0.8);
  display: inline-block;
  bottom: 0;
}
.examples-work__description {
  text-transform: uppercase;
  position: absolute;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  height: 100%;
  width: 100%;
  letter-spacing: 0.03em;
  padding: 27px 0;
}
.examples-work__description:last-child {
  margin-right: 0px;
}

.filter-button {
  font: inherit;
  cursor: pointer;
  font-weight: 500;
  line-height: 1.62;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  background-color: #f5f4fa;
  white-space: nowrap;
  letter-spacing: 0.03em;
  margin-bottom: 0px;
  padding: 6px 22px;
  border-radius: 4px;
  border: none;
}
.filter-button:focus {
  outline: none;
}
.filter-button:hover, .filter-button:focus, .filter-button:active {
  background-color: #2196f3;
  cursor: pointer;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
.filter-button--all {
  padding: 6px 25px;
}
.filter-button:last-child {
  margin-right: 0;
}

.filter-buttons__item {
  margin-right: 8px;
}
.filter-buttons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}

.footer {
  background-color: #2f303a;
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__logo {
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 0px;
  margin-right: 0px;
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}
.footer__address {
  margin-right: 70px;
}

.header {
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 0px;
  display: flex;
  padding: 0px 15px;
}

.hero {
  background-color: #2f303a;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero__title {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 30px;
}
.hero__button {
  color: #ffffff;
  background-color: #2196f3;
  cursor: pointer;
  font: inherit;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  width: 216px;
  padding: 10px 32px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
}
.hero__button:hover, .hero__button:focus, .hero__button:active {
  background-color: #188ce8;
}

.input:not(.agreement__input) {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  margin: 0 auto;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  display: block;
  margin-bottom: 10px;
  padding: 11px 0;
  text-indent: 42px;
}
.input:hover, .input:focus {
  border-color: #2196f3;
}
.input:focus {
  outline: #2196f3;
}

.join {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-right: 93px;
}
.join__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  color: #ffffff;
}

.logo {
  font-family: "Raleway";
  font-size: 26px;
  color: #000000;
  font-weight: 700;
  line-height: 1.19;
  display: inline-block;
  width: 145px;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  letter-spacing: 0.03em;
}
.logo__text {
  color: #2196f3;
}
.logo__text--part-reverse {
  color: #ffffff;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: scale(1) translate(-50%, -50%);
          transform: scale(1) translate(-50%, -50%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden .modal {
  -webkit-transform: scale(0.9) translate(-50%, -50%);
          transform: scale(0.9) translate(-50%, -50%);
}
.modal__close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 6px;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #ffffff;
}
.modal__cross-icon {
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-button:hover .modal__cross-icon, .modal__close-button:focus .modal__cross-icon {
  fill: #2196f3;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  line-height: 1.14;
  -webkit-transition-property: color, fill;
  transition-property: color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  color: #212121;
  padding: 32px 0px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #212121;
}
.nav__link:hover, .nav__link:focus, .nav__link:active {
  color: #2196f3;
  fill: #2196f3;
}
.nav__link--current {
  color: #2196f3;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__link--current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
  position: absolute;
  bottom: 0;
}
.nav__item {
  font-size: 14px;
  margin-right: 50px;
  padding: 0;
}
.nav__item:last-child .nav__list {
  margin-right: 0;
}

.overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero-background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  background-size: 1600px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.benefits {
  padding-bottom: 0;
}

.sending-button {
  background-color: #2196f3;
  padding: 10px 0;
  margin: 0 auto;
  border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  width: 200px;
  gap: 10px;
  height: 50px;
  border-width: 0;
  -webkit-transform: translatey(78%);
          transform: translatey(78%);
  margin-left: 12px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.sending-button:hover, .sending-button:focus {
  background-color: #188ce8;
}
.sending-button:hover:hover, .sending-button:focus:hover {
  background-color: #188ce8;
}
.sending-button__icon {
  fill: #ffffff;
}
.sending-button__text {
  display: block;
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.sending__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.sending__input {
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  width: 358px;
  padding: 15px 0;
  padding-left: 16px;
  margin-bottom: 0;
  text-indent: 0%;
}
.sending__input:hover, .sending__input:focus {
  border-color: #2196f3;
}
.sending__input:focus {
  outline: #2196f3;
}
.sending__text {
  display: inline-block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
  cursor: pointer;
}
.sending__label {
  display: inline-block;
  width: 358px;
}

.social-media__link {
  width: 44px;
  height: 44px;
  fill: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-right: 10px;
}
.social-media__link:hover, .social-media__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
  border-radius: 50%;
  overflow: visible;
}
.social-media__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  fill: #ffffff;
  overflow: visible;
}
.social-media__link:last-child {
  margin-right: 0;
}
.social-media__list {
  width: 206px;
  margin: 0 auto;
}
.social-media__item {
  margin-right: 10px;
  -webkit-transition-property: fill, background-color;
  transition-property: fill, background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.social-media__item:last-child {
  margin-right: 0;
}
.social-media__icon {
  margin-right: 0;
}

.team-member__speciality {
  color: #757575;
  line-height: 1.19;
  white-space: nowrap;
  margin-bottom: 16px;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-member__card {
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}
.team-member__card:last-child {
  margin-right: 0px;
}
.team-member__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  white-space: nowrap;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
  text-align: center;
}
.team-member__container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team {
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 50px;
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team__container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}/*# sourceMappingURL=main.css.map */