.clients {
  &__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (min-width: 480px) {width: 210px;}
        @media screen and (min-width: 768px) {width: 226px;}
                @media screen and (min-width: 1200px) {width: 170px;}
    height: 92px;
    border-radius: $button-border-radius;
    border: $border $main-color-social;
    fill: $main-color-social;
    transition-property: fill, border-color;
    transition-duration: $duration;
    transition-timing-function: $timing-function;
    &:hover,
    &:focus {
      border-color: $accent-color-text;
      fill: $accent-color-text;
    }
  }
  &__item {
    @media screen and (min-width: 480px) and (max-width: 1199px) {
      margin-left: 30px;
    }
    @media screen and (min-width: 1200px) {
      margin-right: 30px;
    }
    // display: inline-block;
    &:not(:last-child) {
      @media screen and (max-width: 1199px) {margin-bottom: 30px;}
    }
    &:last-child {
      margin-right: 0;
    }
  }
&__icon {
  width: 106px;
  height: 60px;
}
&__title {
  text-align: center;
  font-weight: $main-font-weight;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: $main-letter-spacing;
  @media screen and (max-width: 1199px) {margin-bottom: 30px; font-size: 28px;}
        @media screen and (min-width: 1200px) {margin-bottom: 50px;}
  }
  &__list {
        @media screen and (min-width: 480px) and (max-width: 1199px) {margin-bottom: -30px; margin-left: -30px; display: flex;  flex-wrap: wrap;}
                @media screen and (min-width: 1200px) {
                  display: flex;
                }
}}