.filter-button {
  font: inherit;
  @media screen and (max-width: 479px) {
    font-size: 13px;
  }
  cursor: pointer;
  font-weight: $second-font-weight;
  line-height: 1.62;
  transition-property: background-color, color;
  transition-duration: $duration;
  transition-timing-function: $timing-function;
  background-color: $accent-color-bcg;
  white-space: nowrap;
  letter-spacing: $main-letter-spacing;
  margin-bottom: 0px;
  padding: 6px 22px;
  border-radius: $button-border-radius;
  border: none;
  &:focus {
    outline: none;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $accent-color-text;
    cursor: pointer;
    color: $add-color-text;
    box-shadow: $button-active_box-shadow;
  }
  &:last-child {
    margin-right: 0;
  }
}
.filter-buttons {
    margin-bottom: 40px;
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 30px;
  }
@media screen and (min-width: 1200px) {
  margin-bottom: 50px;
}
  &__item {
    margin-right: 8px;
  }
  &__list {
    @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    }
   
  }
  &__row {
    display: flex;
    flex-direction: row;
    &--top {
      margin-bottom: 15px;
    }
  }
}