.logo {
  font-family: "Raleway";
  font-size: 26px;
  color: $studio-accent;
  font-weight: $main-font-weight;
  line-height: 1.19;
  display: inline-block;
  width: 145px;
  letter-spacing: $main-letter-spacing;
  @media screen and (max-width: 767px) {
    margin-right: 0; padding-top: 16px;
      padding-bottom: 16px;
  }
    @media screen and (min-width: 768px) {margin-right: 88px; padding-top: 26px;
      padding-bottom: 26px;}
        @media screen and (min-width: 1200px) {margin-right: 93px; padding-top: 24px;
          padding-bottom: 25px;}
  &__text {
    color: $accent-color-text;
    &--part-reverse {
      color: $add-color-text;
    }
  }
}
.footer__logo {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;
    margin-bottom: 20px;
  }