.menu-contacts {display: flex; flex-direction: column; margin-bottom: 64px;
  &__item {display: inherit; white-space: nowrap;}
  &__link {
    font-weight: $second-font-weight;
    letter-spacing: 0.02em;
    line-height: 1.17;
    &--phone {
      font-size: 24px;
      color: $accent-color-text;
      margin-bottom: 25px;
    }
    &--mail {
      font-size: 24px;
      color: $second-color-text;
    }
  }
}