.overlay {
  background-image: $overlay-linear-gradient,
  url(../images/header-480.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  // height: 600px;
  // background-size: 1600px;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $overlay-linear-gradient, url(../images/header-480@2x.jpg);
  } 
  @media (min-width: 481px) {
    background-image: $overlay-linear-gradient, url(../images/header-768.jpg);
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $overlay-linear-gradient, url(../images/header-768@2x.jpg);
  }
  }
  @media (min-width: 769px) {
    background-image: $overlay-linear-gradient, url(../images/hero-background.jpg); 
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: $overlay-linear-gradient, url(../images/header-1200@2x.jpg);
  }
  }
}
