.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.benefits {
  @media screen and (min-width: 1200px) {padding-bottom: 0;}
}