.sending {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
  }
  &__form {
    @media screen and (min-width: 768px) and (max-width: 1199px) {display: flex; flex-direction: column; margin: 0 auto; text-align: center;}
    @media screen and (min-width: 1200px) {
      display: flex;
    }
  }
  &__input {
    line-height: 1.25;
    letter-spacing: $main-letter-spacing;
    color: $email-color;
    border: $border $email-border-color;
    filter: drop-shadow($button-box-shadow);
    border-radius: $button-border-radius;
    background-color: transparent;
    @media screen and (max-width: 479px) {
      width: 100%;
    }
    @media screen and (min-width: 1200px) {
      width: 358px;
    }
    @media screen and (max-width: 1199px) {
    margin-bottom: 20px;
    }
    @media screen and (min-width: 480px) and (max-width: 1199px) {width: 450px;}
    padding: 15px 0;
    padding-left: 16px;
    margin-bottom: 0;
    text-indent: 0%;
    &:hover,
    &:focus {
      border-color: $accent-color-text;
    }
    &:focus {
      outline: $accent-color-text;
    }
  }
  &__text {
    display: block;
    font-weight: $main-font-weight;
    font-size: $second-font-size;
    line-height: 1.14;
    letter-spacing: $main-letter-spacing;
    text-transform: uppercase;
    color: $add-color-text;
    margin-bottom: 20px;
    cursor: pointer;
  }
}