.team {
  background-color: $accent-color-bcg;
  &__title {
    margin-bottom: 50px;
    text-align: center;
    font-weight: $main-font-weight;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: $main-letter-spacing;
    @media screen and (max-width: 1199px) {
      margin-bottom: 30px;
      font-size: 28px;
    }
  }
}