$main-color-text: #212121;
$second-color-text: #757575;
$accent-color-text: #2196f3;
$add-color-text: #ffffff;
$address-accent: rgba(255, 255, 255, 0.6);
$studio-accent: #000000;
$main-color-bcg: #f5f5f5;
$second-color-bcg: #2f303a;
$accent-color-bcg: #f5f4fa;
$main-letter-spacing: 0.03em;
$second-letter-spacing: 0.06em;
$second-font-size: 14px;
$accent-hero-button: #188ce8;
$main-font-weight: 700;
$second-font-weight: 500;
$main-color-social: #afb1b8;
$duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$button-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
$button-border-radius: 4px;
$card-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
$card-border-radius: 0px 0px 4px 4px;
$button-active_box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
  0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
$header-border-bottom-color: #ececec;
$border: 1px solid;
$card-border-color: #eeeeee;
$overlay-linear-gradient: linear-gradient(
  to right,
  rgba(47, 48, 58, 0.4),
  rgba(47, 48, 58, 0.4)
);
$social-media_border-radius: 50%;
$social-media-bcg: rgba(255, 255, 255, 0.1);
$card-link-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
  0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
$thumb-before-bcg: rgba(33, 150, 243, 0.9);
$thumb-work-bcg: rgba(47, 48, 58, 0.8);
$backdrop-bcg: rgba(0, 0, 0, 0.2);
$button-cross_border-color: rgba(0, 0, 0, 0.1);
$email-color: rgba(255, 255, 255, 0.6);
$email-border-color: rgba(255, 255, 255, 0.3);
$textarea-border-color: rgba(33, 33, 33, 0.2);
$third-letter-spacing: 0.01em;
$third-font-size: 12px;
$visible-overflow: visible;
$second-border-radius: 3px;

